.Outer-Container{
    display: flex;
    justify-content: center;
    /* border-color: rgb(0, 255, 76);
    border-style: solid; */

}

.Inner-Container{
justify-content: center;
border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 25px;
     border-width: thin;
padding: 10px;
}

.title-box{
    /* border-color: rgb(8, 0, 255);
    border-style: solid; */
    text-align: center
}


.errors{
    /* border-color: rgb(255, 0, 247); */
    /* border-style: solid; */
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-inputs{
    box-sizing: border-box;
    width: 100%
}

.button-container{
    text-align: center;
    /* border-color: rgb(255, 0, 247);
    border-style: solid; */
    /* align-content: center;
    align-items: center; */
}
