
.Spot-Detail-Outer-Container{
    display: flex;
    width: 100%;
    align-items: center;
    /* border-style:solid;
    border-color:aqua; */
    flex-direction: column;

}

.Spot-Detail-Inner-Container{
    display: flex;
    /* border-style:solid;
    border-color:rgb(0, 255, 76); */
    width: 60%;
    flex-direction: column;
    /* align-items: center; */
}


.detail-title-container{
    display: flex;
    flex-direction: row;
    /* border-style:solid;
    border-color:rgb(21, 0, 255); */
}

.two-button-container{
    display: flex;
    /* border-style:solid;
    border-color:rgb(0, 255, 179); */
    align-items: center;
    justify-content: center;
}

.detail-top-info-container{
    display:flex;
    justify-content: flex-start;
    padding-bottom: 5px;
}
.number-of-reviews{
    padding-left: 10px;
}

.city-state-country{
    padding-left: 10px
}
.detail-image-outer-container{
    display:flex;
    /* border-style:solid;
    border-color:rgb(55, 0, 255); */
    justify-content: center;
}

.detail-image-container{
    display:flex;
    width: 100%;
    height: 500px;
    align-items:center;
    justify-content: center;
    /* border-style:solid;
    border-color:rgb(255, 0, 115); */
    border-radius: 25px;
    overflow: hidden;
}

.spot-picture{
    /* width:100%; */
    /* height: 300px; */
    object-fit: cover;
}

.description-name-container{
    border-color: rgb(203, 207, 207);
    border-bottom-style: solid;
}

.spotName{
font-weight: bold;
}

.home-owner-container{
    border-color: rgb(203, 207, 207);
    border-bottom-style: solid;
}


.detail-top-info-container{
    /* border-style:solid;
    border-color:rgb(13, 255, 0); */
}

.detail-review-container{
    /* border-style:solid;
    border-color:rgb(255, 0, 234); */
}

.Review-Delete-Button{
    background-color: rgb(255, 90,95);
    color: white;
    border-radius:12px;
    border-width: thin;
    border: none;
    padding:10px;
}

.Create-Review-Button{
    background-color: rgb(255, 90,95);
    color: white;
    border-radius:12px;
    border-width: thin;
    padding:10px;
    border: none;
}


.Edit-Delete-Button{
    background-color: rgb(255, 90,95);
    color: white;
    border-radius:12px;
    border-width: thin;
    margin-left: 20px;
    border: none;
    padding:10px;
    padding-left: 10px;
}

.Owner-name{
    border-bottom: 1px;
    border-color: grey;
}

.itemReview{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.review-star-rating-container{
    display: flex;
    flex-direction: row;
    padding-bottom:5px;
}

.review-name{
    font-size: larger;
    font-weight: bold;
}


.aircover-container{
    border-color: rgb(203, 207, 207);
    border-bottom-style: solid;
    width:50%;
    padding-top: 20px;
    /* border-style:solid;
    border-color:rgb(255, 0, 115); */
}

.aircover-image{
    width: 50%;
}
