* {-webkit-font-smoothing: antialiased;}

.Spot-Detail-Outer-Container{
    display: flex;
    width: 100%;
    align-items: center;
    /* border-style:solid;
    border-color:aqua; */
    flex-direction: column;

}

.Spot-Detail-Inner-Container{
    display: flex;
    /* border-style:solid;
    border-color:rgb(0, 255, 76); */
    width: 60%;
    flex-direction: column;
    /* align-items: center; */
}


.detail-title-container{
    display: flex;
    flex-direction: row;
    /* border-style:solid;
    border-color:rgb(21, 0, 255); */
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 40px;
    align-items: flex-start
}


.two-button-container{
    display: flex;
}

.detail-top-info-container{
    display:flex;
    justify-content: flex-start;
    padding-bottom: 5px;
}
.number-of-reviews{
    padding-left: 10px;
}

.city-state-country{
    padding-left: 10px
}
.detail-image-outer-container{
    display:flex;
    /* border-style:solid;
    border-color:rgb(55, 0, 255); */
    justify-content: center;
}

.detail-image-container{
    display:flex;
    width: 100%;
    height: 500px;
    align-items:center;
    justify-content: center;
    /* border-style:solid;
    border-color:rgb(255, 0, 115); */
    border-radius: 25px;
    overflow: hidden;
}

.spot-picture{
    width:100%;
    /* height: 300px; */
    object-fit: cover;
}

.description-name-container{
    border-color: rgb(203, 207, 207);
    border-bottom-style: solid;
}

.spotInfo-name{
font-weight: 900;
}

.home-owner-container{
    border-color: rgb(203, 207, 207);
    border-bottom-style: solid;
}


.detail-top-info-container{
    /* border-style:solid;
    border-color:rgb(13, 255, 0); */
}

.detail-review-container{
    /* border-style:solid;
    border-color:rgb(255, 0, 234); */
}

.Review-Delete-Button{
    background-color: rgb(230, 30,77);
    color: white;
    border-radius:12px;
    border-width: thin;
    border: none;
    padding:10px;
}

.Create-Review-Button{
    background-color: rgb(230, 30,77);
    color: white;
    border-radius:12px;
    border-width: thin;
    padding:10px;
    border: none;
}


.Edit-Delete-Button{
    background-color: rgb(230, 30,77);
    color: white;
    border-radius:12px;
    border-width: thin;
    margin-left: 20px;
    border: none;
    padding:10px;
    padding-left: 10px;
    cursor: pointer;
}

.Owner-name{
    border-bottom: 1px;
    border-color: grey;
}

.itemReview{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-left: 15px;
}

.review-star-rating-container{
    display: flex;
    flex-direction: row;
    padding-bottom:5px;
}

.review-name{
    font-size: larger;
    font-weight: bold;
}


.aircover-container{
    border-color: rgb(203, 207, 207);
    border-bottom-style: solid;
    border-top-style: solid;
    /* width:50%; */
    padding-top: 20px;
    /* border-style:solid;
    border-color:rgb(0, 255, 30); */
}

.aircover-image{
    width: 30%;
}

.review-spot-star-container{
    display: flex;
    flex-direction: row;
}

.outer-review-star-container{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* border-style:solid;
    border-color:rgb(255, 0, 115); */
}

.trophy-container{
    /* height: 50%; */
    border-style:solid;
    border: none
    /* border-color:rgb(44, 46, 184); */
}

.awards-container{
    display: flex;
    /* width: 50%; */
    flex-direction: row;
    padding-top: 2%;
    /* border-style:solid;
    border-color:rgb(11, 189, 70); */
}


.trophy-container{
    display: flex;
    padding-right: 10px;
}

/* .paragraph-of-host{
    display:inline-block;
    border-style:solid;
    border-color:rgb(255, 0, 115);
} */

.block-bold{
    display:inline-block;
    padding-bottom: 5px;
    font-weight:bold;
    /* border-style:solid;
    border-color:rgb(255, 0, 115); */
}

.block-bold-1{
    display:inline-block;
    padding-bottom: 5px;
    font-weight:bold;
    padding-left:7px;
}

.block{
    color: grey
}

.description-of-host{
    display: flex;
    flex-direction: column;
}

.border-awards-container{
    padding-bottom: 15px;
}

.middle-container{
    /* border-style:solid;
    border-color:rgb(255, 0, 115); */
    display: flex;
    flex-direction: row;
}

.middle-left-container{
    /* border-style:solid;
    border-color:rgb(0, 255, 119); */
    width:60%
}

.middle-right-container{
    display: flex;
    flex-direction: row;
    /* border-style:solid;
    border-color:rgb(46, 18, 169); */
    width:40%;
    justify-content:right;
    /* align-items: center; */
}


.top-card-container{
    display: flex;
    width: 80%;
    height: 450px;
    border-style:solid;
    border-color:rgb(177, 180, 178);
    border-radius: 15px;
    border-width: thin;
    margin-top: 6%;
    justify-content: center;
}

.top-inner-card-container{
    /* border-style:solid;
    border-color:rgb(255, 81, 0); */
    width: 90%;
    justify-content: center;
    border-radius: 15px;
    margin-top:5%;

}

.spot-card-price-container{
    display:flex;
    flex-direction: row;
    /* border-style:solid;
    border-color:rgb(0, 255, 119); */
    justify-content: space-between;
    align-items: flex-end;
}

.spot-card-price{
    display: inline-block;
    /* border-style:solid;
    border-color:rgb(39, 20, 213); */
    font-size: x-large
}


.itemReview{
    width: 60%;
    /* border-style:solid;
    border-color:rgb(39, 20, 213); */
}
