.outer-sign-container{
    display: flex;
    justify-content:center;


}

.inner-sign-container{
    text-align: center;
justify-content: center;
padding: 10px;
border-width: thin;
    border-style: solid;
    border-radius: 25px;
    /* background-color: rgba(0,0,0,.7) */
}

.title-box{
    /* border-color: rgb(8, 0, 255);
    border-style: solid; */
    text-align: center
}


.errors{
    /* border-color: rgb(255, 0, 247); */
    /* border-style: solid; */
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-sign-inputs{
    box-sizing: border-box;
    width: 100%
}

.button-sign-container{
    text-align: center;
    /* border-color: rgb(255, 0, 247);
    border-style: solid; */
    /* align-content: center;
    align-items: center; */
}

.Sign-Up-button{
    width: 100%
}
