.Outer-Container{
    display: flex;
    justify-content: center;
    /* border-color: rgb(0, 255, 76);
    border-style: solid; */

}

.Inner-Container{
justify-content: center;
/* border-color: rgb(5, 5, 5); */
    /* border-style: solid;
    border-radius: 25px; */
    /* border-width: thin; */
}

.title-box{
    /* border-color: rgb(8, 0, 255);
    border-style: solid; */
    text-align: center
}

.stars-container{
    display: flex;
    flex-direction: row;
    /* border-color: rgb(204, 255, 0);
    border-style: solid; */
    justify-content: center;

}
.star-and-column{
    display: flex;
    /* border-color: rgb(72, 0, 255);
    border-style: solid; */
    align-content: center;
    align-items: center;
}

.creat-review-container{
    text-align: center
}
.write-review-container{
    text-align: center
}

ul{
    color: red;
}

.review-container{
    box-sizing: border-box;
    /* border-color: rgb(255, 0, 225);
    border-style: solid; */
}

.input-box{
    height: 100px;
    width: 100%;
}
