.home-container{
    display: flex;
    border-color: rgb(64, 255, 0);
    border-style: solid;
    justify-content: center;
}

.all-spots-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-color: rgb(255, 89, 0);
    border-style: solid;

    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
