.home-container{
    display: flex;
    border-color: rgb(64, 255, 0);
    border-style: solid;
    justify-content: center;

}

.all-spots-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(265px,1fr));
    border-color: rgb(255, 89, 0);
    border-style: solid;
    grid-auto-rows: 1fr;
    padding-top: 20px;
    max-width: 90%;
    grid-gap:25px 25px;
}
