.user-home-container{
    display: flex;
    justify-content:center;
    /* border-color: rgb(164, 165, 165);
    border-bottom-style: solid; */
    margin-bottom: 3%;
}

.all-user-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(265px,1fr));
    grid-auto-rows: 1fr;
    padding-top: 20px;
    max-width: 90%;
    grid-gap:25px 25px;
    /* border-style: solid;
    border-color: green; */
}

.user-name{
    margin-left:7%
}

.user-review-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    /* border-style: solid;
    border-color: black */
    margin-bottom: 3%;
}

.all-user-review-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(265px,1fr));
    grid-auto-rows: 1fr;
    padding-top: 20px;
    max-width: 90%;
    grid-gap:25px 25px;
    /* border-style: solid;
    border-color: rgb(159, 51, 51) */

}

.outer-review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-review-data-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* border-color:aqua;
    border-style: solid; */
}

.user-delete-review-button{
    width: 15%;
    background-color: rgb(230, 30,77);
    color: white;
    border-radius:12px;
    border-width: thin;
    padding:10px;
    margin-top:1%;
    margin-bottom:2%;
}

.Delete-spot-button-container{
    display: flex;
    justify-content: center;
}


.Edit-a-Spot-button-container{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    /* border-color:aqua;
    border-style: solid; */
}

.no-spots-container{
    display: flex;
    justify-content: center;
}


.new-card-container{
    border-style: solid;
    border-color: rgb(128, 34, 0);
}

.user-edit-review-button{
    width: 15%;
    background-color: rgb(230, 30,77);
    color: white;
    border-radius:12px;
    border-width: thin;
    padding:10px;
    margin-top:1%;
    margin-bottom:2%;
    margin-left: 2%;
}
