.spot-link-container{
display: flex;
flex-direction: column;
border-radius: 25px;
width: 17em;
color: black;
}


.spot-container{
display: flex;
flex-direction: column;
/* border: 10px; */
border-radius: 25px;

width: 17em;

}

.spot-image-container{
width: 100%;
height: 280px;
border-radius: 25px;
overflow: hidden
}

.spot-image{
    width: 100%;
    height: 280px;
    border-radius: 12px;
    object-fit: cover;
}

.spot-info-container{
display: grid;
grid-template-columns: 3fr 1fr;
padding: 10px 0px;
  width: 100%;
}

.spot-review-data-container{
display: flex;
flex-direction: row;
justify-content: flex-end;
    grid-row: 1;
    grid-column:2
}

.spot-price-container{
  align-content: end;
}

.spot-star{
  padding-right: 2.5px;
}

.spot-city-state{
  font-weight: bold;
}

.spot-price{
  font-weight: bold;
}

.spot-rating{
  font-weight: bold;
}
